<div class="card shadow mt-5">
  <div class="card-body">
    <% if story.story_responses.present? %>
      <ul class="list-unstyled" id="response-listing">
        <% story.story_responses.each do |story_response| %>
          <%= render 'story_responses/story_response', story_response: story_response %>
        <% end %>
      </ul>
    <% end %>
    <p>Let <span class="font-weight-bold text-primary"><%= story.user.name %></span> know that you are ready to help. Write in the below textarea how you can help.</p>
    <%= form_for [story, story.story_responses.build], html: { remote: true } do |f| %>
      <div id="response_error_area"></div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_area :body, class: "form-control form-control-lg", rows: "5", required: true %>  
      <%= f.submit 'Submit', class: 'btn btn-primary btn-lg mt-3' %>
    <% end %>
  </div>
</div>
