<div class="card shadow mt-5">
  <div class="card-body">
    <% if story.story_responses.present? %>
      <ul class="list-unstyled" id="response-listing">
        <% story.story_responses.group(:user_id).each do |story_response| %>
          <li class="media" id="user_response_<%= story_response.user.id %>">
            <%= image_tag 'user.jpg', class: 'mr-3 mb-2', width: '40' %>
            <div class="media-body">
              <p>
                <span><%= story_response.body %></span> 
                <span class="font-weight-bold text-primary"><%= story_response.user.name %></span>
                <button type="button" class="btn btn-primary btn-sm">
                  Comments <span class="badge badge-light"><%= show_response_count(story_response) %></span>
                </button>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    <p>Let <span class="font-weight-bold text-primary"><%= story.user.name %></span> know that you are ready to help. Write in the below textarea how you can help.</p>
    <%= form_for [story, story.story_responses.build] do |f| %>
      <div id="response_error_area"></div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_area :body, class: "form-control form-control-lg", rows: "5", required: true %>  
      <%= f.submit 'Submit', class: 'btn btn-primary btn-lg mt-3' %>
    <% end %>
  </div>
</div>
