<div class="container">
  <div class="row mt-5">
    <div class="col-md-9">
      <div class="card shadow">
        <div class="card-header">
          <h2><%= @story.title %></h2>
        </div>
        <div class="card-body">
          <p><%= @story.description %></p>
          <h6>By <span class="text-primary"><%= @story.user.name %></span></h6>
          <div class="mt-3">
            <%= link_to 'Edit', edit_story_path(@story), class: 'btn btn-primary btn-lg' %>
            <%= link_to 'Back', stories_path, class: 'btn btn-secondary btn-lg' %>
          </div>
        </div>
      </div>
      <%= render 'story_responses/form', story: @story %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
